<section class="main-banner" #target>
    <div class="container">
        <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand" href="#">
                <img src="../../assets/fp3d-assets/logo.png" alt="" class="img-fluid">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link"  (click)="scroll(target)">Welcome <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  (click)="scroll(features)">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../../assets/FlatPyramidWhitePaper.pdf" target="_blank">White Paper</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="scroll(roadmap)">Roadmap</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="scroll(faqs)">FAQ</a>
                </li>
              </ul>
            </div>
          </nav>
        <div class="row ptb">
            <div class="col-sm-6 animate__animated animate__backInLeft">
                <div class="inner-box" #buy>
                    <h2>
                        Featuring 3d Models as <br> <span class="common-g"> Non Fungible Tokens (NFTs)</span> </h2>
                    <p>Flat Pyramid is a crowdsourced marketplace for 3d model files, bought and sold as NFTs.
                    </p>
                    <ul class="list-inline">
                        <li class="list-inline-item" >
                          <a routerLink="/presale" class="btn-common" target="_blank">BUY FP3D</a>
                        </li>
                        <li class="list-inline-item" >
                            <a  class="btn-common" href="../../assets/FlatPyramidWhitePaper.pdf" target="_blank">White Paper</a>
                          </li>
                    </ul>
                </div>
            </div>

            <div class="col-sm-6 animate__animated animate__backInRight">
                <div class="inner-boxy text-center">
                  <img src="../../assets/fp3d-assets/header-image.png" alt="" class="img-fluid">
                </div>
            </div>
        </div>

    </div>
</section>
<section class="features ptb" #features>
   <div class="container">
              
       <div class="row">
           <div class="col-sm-12 text-center">
               <h2 class="main-color text-center"> 
                 <span class="common-g">Key</span>Features
               </h2>
               <span class="border1"></span>
           </div>
       </div>

       <div class="row ptb">
           <div class="col-sm-4">
               <div class="inner-side">
                <img src="../../assets/fp3d-assets/pay-through-crypto-icon.png" alt="" class="img-fluid">
                <h3 class="main-color">Pay through Crypto or FIAT</h3>
                   <p>Buy each 3d model through crypto (FP3D, stablecoins, major currencies) or FIAT currency</p>
               </div>
           </div>
           <div class="col-sm-4">
               <div class="inner-side">
                <img src="../../assets/fp3d-assets/buy-through-two-blockchain-icon.png" alt="" class="img-fluid">
               <h3  class="main-color">
                Buy through two blockchains
                   </h3>
                   <p>Flat Pyramid allows transactions on both Ethereum Blockchain and Binance Smart Chain</p>
               </div>
           </div>
           <div class="col-sm-4">
               <div class="inner-side">
                <img src="../../assets/fp3d-assets/mint-nft-icon.png" alt="" class="img-fluid">
                <h3  class="main-color">
                    Mint NFTs on every purchase 
                    </h3>
                   <p>Receive an image of the 3d model as an NFT to prove ownership of each product</p>
               </div>
           </div>
       </div>
   </div>
</section>

<section class="round ptb">
   <div class="container">
       <div class="row">
           <div class="col-sm-6">
               <div class="inner-text">
                   <h2>What is <br> <span class="common-g">FlatPyramid ?</span></h2>
                   <p>FlatPyramid is an NFT marketplace offering an extensive 3D model library that includes thousands of products useful in a number of industries. </p>
                   <p>FlatPyramid helps 3d artist/3d modelers to save time and money by providing stock and custom 3d models in the appropriate 3d file formats (obj, max, maya, stl, dae, fbx, glTF, etc.) for use in 3D Modeling Applications, Virtual Reality Applications, Augmented Reality Applications, 3D Printing and Video & Mobile Games.</p>
                </div>
            </div>
            <div class="col-sm-6">
                 <div class="inner-img">
                     <img src="../../assets/fp3d-assets/about-us-image.png" alt="" class="img-fluid">
                 </div>
            </div>
       </div>
   </div>
</section>

<section class="round2 ptb">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="inner-img">
                    <img src="../../assets/fp3d-assets/tokenomics-image.png" alt="" class="img-fluid">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="inner-text">
                    <h2>FlatPyramid 
                        <br> <span class="common-g">Token ($FP3D)</span></h2>
                    <p>FP3D is a utility token available on 2 blockchains, Ethereum and Binance Smart Chain (BSC). It is the native token that powers the Flat Pyramid 3d models NFT marketplace.                    </p>
                    <ul style="list-style: disc;">
                        <li>
                            <p>Flat Pyramid Token</p>
                        </li>
                        <li>
                            <p>Ticker: <span class="clr">FP3D</span> </p>
                        </li>
                        <li>
                            <p>Chain: <span class="clr">BSC/Ethereum</span> </p>
                        </li>
                        <li>
                            <p>Standard: <span class="clr">Utility/Governance</span> </p>
                        </li>
                        <li>
                            <p>Total Supply: <span class="clr">400,000,000 (400M)</span>
                            </p>
                        </li>
                        <li>
                            <p>Decimals: <span class="clr">18</span></p>
                        </li>
                    </ul>
                
                </div>
            </div>
        </div>
    </div>
 </section>

<!-- <section class="token">
   <div class="container">
       <div class="row ptb">
           <div class="col-sm-12 text-center">
               <h2 class="main-color"><strong>Token Distribution</strong></h2>
           </div>
       </div>
       <div class="row ptb">
           <div class="col-sm-6">
               <div class="inner-tile">
                   <div class="row">
                       <div class="col-sm-6">
                           <div class="inner-style">
                               <span class="main-color">.</span>
                               Name:
                               <h6 class="main-color">Candy Token</h6>
                           </div>
                       </div>
                       <div class="col-sm-6">
                           <div class="inner-style">
                               <span class="main-color">.</span>
                               Starts:
                               <h6 class="main-color">April 8</h6>
                           </div>
                       </div>
                   </div>
                   <div class="row">
                       <div class="col-sm-6">
                           <div class="inner-style">
                               <span class="main-color">.</span>
                               Exchange Rate:
                               <h6 class="main-color">1ETH = 100,000 CANDY</h6>
                           </div>
                       </div>
                       <div class="col-sm-6">
                           <div class="inner-style">
                               <span class="main-color">.</span>
                               Ends:
                               <h6 class="main-color">April 10</h6>
                           </div>
                       </div>
                   </div>
                   <div class="row">
                       <div class="col-sm-6">
                           <div class="inner-style">
                               <span class="main-color">.</span>
                               Currencies Accepted:
                               <h6 class="main-color">ETH</h6>
                           </div>
                       </div>
                       <div class="col-sm-6">
                           <div class="inner-style">
                               <span class="main-color">.</span>
                               Hard Cap:
                               <h6 class="main-color">125,000,000 CANDY</h6>
                           </div>
                       </div>
                   </div>
                   <div class="row">
                       <div class="col-sm-6">
                           <div class="inner-style">
                               <span class="main-color">.</span>
                               Minimum Purchase:
                               <h6 class="main-color">0.1 ETH/10,000 CANDY</h6>
                           </div>
                       </div>
                   </div>
               </div>
           </div>

           <div class="col-sm-6">
               <div class="inner-disc text-center">
                   <img src="../../assets/sweetswap-presale-assets/token-distribution-pie-chart.png" alt="" class="img-fluid">
               </div>
           </div>
       </div>
   </div>
</section> -->

<section class="roadmap ptb"  #roadmap>
    <div class="container">
               <div class="row">
 
                   <div class="col-sm-12">
                       <div class="inner-text text-center">
                           <h2 class="common-g">Roadmap</h2>
 
                       </div>
                   </div>
               </div>
        <div class="row">
            <div class="col-sm-12 text-center">
                <!-- <img src="../../assets/zoome-presale-assest/roadmap.png" alt="" class="img-fluid"> -->
                <div class="timeline">
                 <ul>
                   <li>
                     <div class="right_content">
                       <p>Concept Creation
                       </p>
                       <p>Start of Development for a 3d NFT Marketplace
                    </p>
                       <p>White Paper Creation
                    <p>
                        <p>Creation of Contracts for FP3D NFT token on Ethereum and the Binance Smart Chain
                            <p>
                        <p>Concept Validation with 90% approval
                                </p>
                            </div>
                     <div class="left_content">
                       <h3>Q1 - 2021 </h3>
                     </div>
                   </li>
                   <li>
                     <div class="right_content">
                         <p>Completion of Development of NFT Marketplace

                         </p>
                         <p>Deployment on both Ethereum and the Binance Smart Chain
                        </p>
                         <p>Development of Presale (ICO)

                       </p>
                       <p>Launch of presale and official launch of marketplace
                       </p>
                     </div>
                     <div class="left_content">
                       <h3>Q2 - 2021 </h3>
                     </div>
                   </li>
                   <li>
                     <div class="right_content">
                         <p>Listing on Exchanges

                         </p>
                         <p>CoinMarketCap & CoinGecko Listing

                         </p>
                         <p>Audit of Tokens
                       </p>
                       <p>Scaling our Team of Blockchain & NFT Professionals</p>
                     </div>
                     <div class="left_content">
                       <h3>Q3 - 2021</h3>
                     </div>
                   </li>
                   <li>
                     <div class="right_content">
                         <p>Launch of Our Official App V1.0
                         </p>
                         <p>Shifting to a more diverse business model
                         </p>
                         <p>Partner with Video Streaming Platforms 
                       </p>
                     </div>
                     <div class="left_content">
                       <h3>Q4 - 2021</h3>
                     </div>
                   </li>
                   <li>
                     <div class="right_content">
                         <p>Expansion of Decentralized Warehousing for NFTs

 
                         </p>
                         <p>Conceptualization of NFT launchpad

 
                         </p>
                         <p>Major Exchange Listings

                         </p>
                         <p>R & D on expanding to more Blockchains
                        </p>
                     </div>
                     <div class="left_content">
                       <h3>Q1 - 2022</h3>
                     </div>
                   </li>
                   <li>
                     <div class="right_content">
                         <h2></h2>
                         <p>Launch of NFT and Utility Token on Matic (Polygon)

                         </p>
                         <p>Deployment of NFT Marketplace on Matic (Polygon

                         </p>
                         <p>Testing NFT Marketplace deployment on Flow & Tezos

                         </p>
                         <p>Public Beta testing
                        </p>
                     </div>
                     <div class="left_content">
                       <h3>Q2 - 2022</h3>
                     </div>
                   </li>
                   <li>
                     <div class="right_content">
                         <p>Reward Program for early users

                         </p>
                         <p>FP3D Mobile and Web Wallet

                         </p>
                         <p>Integration of Crypto payment providers e.g. CoinPayments
                        </p>
                        <p>Huge Marketing Push</p>
                     </div>
                     <div class="left_content">
                       <h3>Q3 - 2022</h3>
                     </div>
                   </li>
                   <!-- <li>
                     <div class="right_content">
                         <p>Reward Program for early users
                         </p>
                         <p>Zoome mobile and web wallet                        </p>
                     </div>
                     <div class="left_content">
                       <h3>Q4 - 2022</h3>
                     </div>
                   </li> -->
                   <div style="clear:both;"></div>
                 </ul>
               </div>
            </div>
        </div>
     </div>
 </section>

<section class="steps ptb" #faqs>
   <div class="container">
       <div class="inner-box">
           <div class="row">
               <div class="col-sm-12 text-center">
                   <div class="inner-img">
                       <h2>Frequently Asked Questions</h2>
                        <span class="border1"></span>
                    </div>
               </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-sm-12">
                <div class="inner-p">
                    <div id="main">
                        <div class="container">
                      <div class="accordion" id="faq">
                                          <div class="card">
                                              <div class="card-header" id="faqhead1">
                                                  <a href="#" class="btn btn-header-link" data-toggle="collapse" data-target="#faq1"
                                                  aria-expanded="true" aria-controls="faq1">What Is Flat Pyramid?</a>
                                              </div>
                      
                                              <div id="faq1" class="collapse show" aria-labelledby="faqhead1" data-parent="#faq">
                                                  <div class="card-body">
                                                      <p>Flat Pyramid is an organization that specializes in the distribution of 3d models and other digital content and interactive media. It is a crowd sourced marketplace for Augmented Reality 3d models, 3d Printing 3d models, Mobile ready 3d models and Online game ready 3d models.
                                                    </p>
                                                    <p>Flat Pyramid is an intermediary platform where digital artists generate revenue from selling their 3d content. Flat Pyramid’s growing library has tens of thousands of products for purchase or for free.
                                                    </p>
                                                </div>
                                              </div>
                                          </div>
                                          <div class="card">
                                              <div class="card-header" id="faqhead2">
                                                  <a href="#" class="btn btn-header-link collapsed" data-toggle="collapse" data-target="#faq2"
                                                  aria-expanded="true" aria-controls="faq2">What Does Flat Pyramid Do?
                                                </a>
                                              </div>
                      
                                              <div id="faq2" class="collapse" aria-labelledby="faqhead2" data-parent="#faq">
                                                  <div class="card-body">
                                                      <p>Our mission is to revolutionize the way 3D Models are distributed and used. We promote, sell and license 3d models (digital 3d content) created by individuals and corporations in the digital media industry worldwide. We strive to provide maximum returns to intellectual property owners and deliver quality products to our valued customers in a dynamic and stimulating environment.
                                                    </p>
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="card">
                                              <div class="card-header" id="faqhead3">
                                                  <a href="#" class="btn btn-header-link collapsed" data-toggle="collapse" data-target="#faq3"
                                                  aria-expanded="true" aria-controls="faq3">How Do I Download 3d Models and Get NFTs?
                                                </a>
                                              </div>
                      
                                              <div id="faq3" class="collapse" aria-labelledby="faqhead3" data-parent="#faq">
                                                  <div class="card-body">
                                                      <p>You need to first will open the FlatPyramid website <a href="www.flatpyramid.com" target="_blank">(www.flatpyramid.com)</a> and browse from the different listings of 3d models. You will then need to select and then add the selected model to the cart. After opening the cart, you will choose the button: Buy As NFT. This button will allow you to download the 3d model and get it’s image as an NFT. You will be redirected to a screen where you will choose one of the 2 blockchain networks (Ethereum and Binance Smart Chain) you want to buy from. The pros and cons of each network will be written. You will be able to connect MetaMask wallet and TrustWallet.
                                                    </p>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                          </div>
                        </div>
               </div>
           </div>
       </div>

       <div class="row ptb">
           <div class="col-sm-3">
               <div class="logo">
                   <img src="../../assets/fp3d-assets/google-cardboard-logo.png" alt="" class="img-fluid">
               </div>
           </div>
           <div class="col-sm-3">
            <div class="logo">
                <img src="../../assets/fp3d-assets/unity-technologies-logo.png" alt="" class="img-fluid">
            </div>
        </div>
        <div class="col-sm-3">
            <div class="logo">
                <img src="../../assets/fp3d-assets/oculus-logo.png" alt="" class="img-fluid">
            </div>
        </div>
        <div class="col-sm-3">
            <div class="logo">
                <img src="../../assets/fp3d-assets/wikitude-logo.png" alt="" class="img-fluid">
            </div>
        </div>
       </div>
   </div>
</section>

<section class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <div class="inner-logo">
                    <img src="../../../../assets/fp3d-landing-page/logo.png" alt="" class="img-fluid">
                    <p>FlatPyramid is an NFT marketplace for a huge database of 3d models. FlatPyramid platform allows: users to download 3d models as NFTs, 3d modelers to sell their 3d model(s) as NFTs, and consumers to apply for a specific 3d model they want. </p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="inner-nav">
                    <h5>Quick Links</h5>
                    <ul class="">
                        <li class="">
                            <a (click)="scroll(target)">Welcome</a>
                        </li>
                        <!-- <li class="">
                            <a>Why Us</a>
                        </li> -->
                        <li class="">
                            <a href="../../assets/FlatPyramidWhitePaper.pdf" target="_blank">White Paper</a>
                        </li>
                        <li class="">
                            <a (click)="scroll(features)">Features</a>
                        </li>
                        <li class="">
                            <a (click)="scroll(roadmap)">Roadmap</a>
                        </li>
                        <li class="">
                            <a (click)="scroll(faqs)">FAQ</a>
                        </li>
                        <li class="">
                            <a href="https://medium.com/@flatpyramid101" target="_blank">Blog</a>
                        </li>
                    </ul>
                </div>
            </div>
<!-- 
            <div class="col-sm-4">
                <div class="inner-form">
                    <h6>Be The First Know <br> About FP3D News Everyday.</h6>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Enter Your Email" aria-label="Recipient's username" aria-describedby="basic-addon2">
                        <img src="../../assets/fp3d-assets/send-button.png" alt="" class="img-fluid">
                    </div>
                </div>
            </div> -->
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-8">
                <div class="inner-copy">
                    <p>&copy; FP3D 2021.All Right Reserved.</p>
                </div>
            </div>
            
            <div class="col-sm-4">
                <div class="inner-copy">
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <a href="https://t.me/flatpyramid" target="_blank">
                                <img src="../../assets/fp3d-assets/telegram-icon.png" alt="" class="img-fluid">
                            </a>
                        </li>
                        <!-- <li class="list-inline-item">
                            <a>
                                <img src="../../assets/fp3d-assets/instagram-icon.png" alt="" class="img-fluid">
                            </a>
                        </li> -->
                        <li class="list-inline-item">
                            <a href="https://www.reddit.com/user/flatpyramid101" target="_blank">
                                <img src="../../assets/fp3d-assets/reddit-icon.png" alt="" class="img-fluid">
                            </a>
                        </li>
                        <!-- <li class="list-inline-item">
                            <a>
                                <img src="../../assets/fp3d-assets/facebook-icon.png" alt="" class="img-fluid">
                            </a>
                        </li> -->
                        <li class="list-inline-item">
                            <a href="https://medium.com/@flatpyramid101" target="_blank">
                                <img src="../../assets/fp3d-assets/medium-icon.png" alt="" class="img-fluid">
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://twitter.com/flatpyramidnft" target="_blank">
                                <img src="../../assets/fp3d-assets/twitter-icon.png" alt="" class="img-fluid">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>


