<section class="main-banner" #target>
    <div class="container">
        <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand" href="#">
                <img src="../../assets/fp3d-assets/logo.png" alt="" class="img-fluid">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" (click)="scroll(target)">Welcome <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" (click)="scroll(features)">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/presale#tokenomics" target="_blank">Tokenomics</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../../assets/FlatPyramidWhitePaper.pdf" target="_blank">White Paper</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" (click)="scroll(roadmap)">Roadmap</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" (click)="scroll(faqs)">FAQ</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="row ptb">
            <div class="col-sm-6 animate__animated animate__backInLeft">
                <div class="inner-box" #buy>
                    <h2>Featuring 3D Models as <br> <span class="common-g"> Non Fungible Tokens (NFTs)</span> </h2>
                    <p>FlatPyramid is an NFT marketplace for 3d models for Gaming, the Metaverse, Augmented Reality, Virtual Reality and Interactive Media.</p>
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <a routerLink="/presale" class="btn-common" target="_blank">BUY FP3D</a>
                        </li>
                        <li class="list-inline-item">
                            <a class="btn-common" href="../../assets/FlatPyramidWhitePaper.pdf" target="_blank">White
                                Paper</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-sm-6 animate__animated animate__backInRight">
                <div class="inner-boxy text-center">
                    <img src="../../assets/fp3d-assets/header-image.png" alt="" class="img-fluid">
                </div>
            </div>
        </div>

    </div>
</section>
<section class="features ptb" #features>
    <div class="container">

        <div class="row">
            <div class="col-sm-12 text-center">
                <h2 class="main-color text-center">
                    <span class="common-g">Key</span> Features
                </h2>
                <span class="border1"></span>
            </div>
        </div>

        <div class="row ptb">
            <div class="col-sm-4">
                <div class="inner-side">
                    <img src="../../assets/fp3d-assets/pay-through-crypto-icon.png" alt="" class="img-fluid">
                    <h3 class="main-color">Pay with Crypto or Fiat</h3>
                    <p>Buy 3d models with crypto (FP3D, stablecoins, major currencies) or FIAT currency</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="inner-side">
                    <img src="../../assets/fp3d-assets/buy-through-two-blockchain-icon.png" alt="" class="img-fluid">
                    <h3 class="main-color">
                        Multichain
                    </h3>
                    <p>FlatPyramid allows transactions on both Ethereum Blockchain and the Binance Smart Chain</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="inner-side">
                    <img src="../../assets/fp3d-assets/mint-nft-icon.png" alt="" class="img-fluid">
                    <h3 class="main-color">
                        Mint NFTs on every purchase
                    </h3>
                    <p>Receive the 3d model as an NFT to prove licensing and/or ownership</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="round ptb">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="inner-text">
                    <h2>What is <br> <span class="common-g">FlatPyramid?</span></h2>
                    <p>FlatPyramid is an NFT marketplace offering an extensive 3D model library that includes thousands
                        of products useful in a number of industries including Gaming, Metaverse, Virtual Reality, Augmented Reality, Film and Special Effects, and other Interactive Media.</p>
                    <p>FlatPyramid provides a marketplace platform where 3d artists and designers leverage the skills of the 3d artist community while reducing their overall production time and costs by trading ready-made stock 3d models in interchangeable 3d file formats (digital assets).</p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="inner-img">
                    <img src="../../assets/fp3d-assets/about-us-image.png" alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="round2 ptb">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="inner-img">
                    <img src="../../assets/fp3d-assets/tokenomics-image.png" alt="" class="img-fluid">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="inner-text">
                    <h2>FlatPyramid
                        <br> <span class="common-g">Token ($FP3D)</span>
                    </h2>
                    <p>FP3D is a utility token available on multiple blockchains: Ethereum and Binance Smart Chain (BSC). It is
                        the native token that powers the FlatPyramid 3d models NFT marketplace. </p>
                    <ul style="list-style: disc;">
                        <li>
                            <p>Flat Pyramid Token</p>
                        </li>
                        <li>
                            <p>Ticker: <span class="clr">FP3D</span> </p>
                        </li>
                        <li>
                            <p>Chain: <span class="clr">BSC/Ethereum</span> </p>
                        </li>
                        <li>
                            <p>Standard: <span class="clr">Utility/Governance</span> </p>
                        </li>
                        <li>
                            <p>Total Supply: <span class="clr">400,000,000 (400M)</span>
                            </p>
                        </li>
                        <li>
                            <p>Decimals: <span class="clr">18</span></p>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
</section>

<!-- <section class="token">
   <div class="container">
       <div class="row ptb">
           <div class="col-sm-12 text-center">
               <h2 class="main-color"><strong>Token Distribution</strong></h2>
           </div>
       </div>
       <div class="row ptb">
           <div class="col-sm-6">
               <div class="inner-tile">
                   <div class="row">
                       <div class="col-sm-6">
                           <div class="inner-style">
                               <span class="main-color">.</span>
                               Name:
                               <h6 class="main-color">Candy Token</h6>
                           </div>
                       </div>
                       <div class="col-sm-6">
                           <div class="inner-style">
                               <span class="main-color">.</span>
                               Starts:
                               <h6 class="main-color">April 8</h6>
                           </div>
                       </div>
                   </div>
                   <div class="row">
                       <div class="col-sm-6">
                           <div class="inner-style">
                               <span class="main-color">.</span>
                               Exchange Rate:
                               <h6 class="main-color">1ETH = 100,000 CANDY</h6>
                           </div>
                       </div>
                       <div class="col-sm-6">
                           <div class="inner-style">
                               <span class="main-color">.</span>
                               Ends:
                               <h6 class="main-color">April 10</h6>
                           </div>
                       </div>
                   </div>
                   <div class="row">
                       <div class="col-sm-6">
                           <div class="inner-style">
                               <span class="main-color">.</span>
                               Currencies Accepted:
                               <h6 class="main-color">ETH</h6>
                           </div>
                       </div>
                       <div class="col-sm-6">
                           <div class="inner-style">
                               <span class="main-color">.</span>
                               Hard Cap:
                               <h6 class="main-color">125,000,000 CANDY</h6>
                           </div>
                       </div>
                   </div>
                   <div class="row">
                       <div class="col-sm-6">
                           <div class="inner-style">
                               <span class="main-color">.</span>
                               Minimum Purchase:
                               <h6 class="main-color">0.1 ETH/10,000 CANDY</h6>
                           </div>
                       </div>
                   </div>
               </div>
           </div>

           <div class="col-sm-6">
               <div class="inner-disc text-center">
                   <img src="../../assets/sweetswap-presale-assets/token-distribution-pie-chart.png" alt="" class="img-fluid">
               </div>
           </div>
       </div>
   </div>
</section> -->

<section class="roadmap ptb" #roadmap>
    <div class="container">
        <div class="row">

            <div id="road_map" class="col-sm-12">
                <div class="inner-text text-center">
                    <h2 class="common-g">Roadmap</h2>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 text-center">
                <!-- <img src="../../assets/zoome-presale-assest/roadmap.png" alt="" class="img-fluid"> -->
                <div class="timeline">
                    <ul>
                        <li>
                            <div class="right_content">
                                <p>Concept & White Paper Creation</p>
                                <p>Concept Validation with 90% approval</p>
                                <p>Start Development of NFT Marketplace Integration</p>
                                
                            </div>
                            <div class="left_content">
                                <h3>Q2 - 2021 </h3>
                            </div>
                        </li>
                        <li>
                            <div class="right_content">
                                <p>Completion of Development of NFT Marketplace Integration</p>
                                <p>Contract creation for <span class="clr">FP3D NFT token</span> on Ethereum & Binance Smart Chain</p>
                                <p>Deployment on both Ethereum & Binance Smart Chain</p>
                            </div>
                            <div class="left_content">
                                <h3>Q3 - 2021 </h3>
                            </div>
                        </li>
                        <li>
                            <div class="right_content">
                                <p>Development of Initial DEX Offering (IDO)</p>
                                <p>Closed Beta testing of NFT Marketplace</p>
                                <p>Research & selection of additional Blockchains</p>
                                <p>Scaling our team of Blockchain & NFT Professionals</p>
                            </div>
                            <div class="left_content">
                                <h3>Q4 - 2021 </h3>
                            </div>
                        </li>
                        <li>
                            <div class="right_content">
                                <p><span class="clr">IDO Launch & official launch of NFT marketplace</span></p>
                                <p>Audit of Tokens</p>
                                <p>Development on additional Blockchains and add support for more wallets</p>
                                <p>Public Beta testing on additional Blockchains</p>
                            </div>
                            <div class="left_content">
                                <h3>Q1 - 2022</h3>
                            </div>
                        </li>
                        <li>
                            <div class="right_content">
                                <p><span class="clr">Launch on Additional Blockchains</span></p>
                                <p>Listing on Exchanges</p>
                                <p>CoinMarketCap & CoinGecko Listing</p>
                                <p>Partner with Gaming & Metaverse Platforms</p>
                                <p>Huge Marketing Push</p>
                            </div>
                            <div class="left_content">
                                <h3>Q2 - 2022</h3>
                            </div>
                        </li>
                        <li>
                            <div class="right_content">
                                <p>Major Exchange Listings</p>
                                <p>Shifting to a more diverse business model</p>
                                <p>Expansion of Decentralized Warehousing for NFTs</p>
                                <p>Conceptualization of NFT launchpad for 3D artists</p>
                            </div>
                            <div class="left_content">
                                <h3>Q3 - 2022</h3>
                            </div>
                        </li>
                        <li>
                            <div class="right_content">
                                <h2></h2>
                                <p>Rewards Program for early users</p>
                                <p>FP3D Mobile and Web Wallet</p>
                                <p>Integration of additional Crypto payment providers</p>
                            </div>
                            <div class="left_content">
                                <h3>Q4 - 2022</h3>
                            </div>
                        </li>
                        <div style="clear:both;"></div>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="steps ptb" #faqs>
    <div class="container">
        <div class="inner-box">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <div class="inner-img">
                        <h2>Frequently Asked Questions</h2>
                        <span class="border1"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="inner-p">
                    <div id="main">
                        <div class="container">
                            <div class="accordion" id="faq">
                                <div class="card">
                                    <div class="card-header" id="faqhead1">
                                        <a href="#" class="btn btn-header-link" data-toggle="collapse"
                                            data-target="#faq1" aria-expanded="true" aria-controls="faq1">What Is
                                            FlatPyramid?</a>
                                    </div>

                                    <div id="faq1" class="collapse show" aria-labelledby="faqhead1" data-parent="#faq">
                                        <div class="card-body">
                                            <p>FlatPyramid specializes in the distribution of 3d models, other digital
                                                content, and interactive media. It is a crowd-sourced marketplace with
                                                stock assets for Gaming, Metaverse, NFTs, Augmented Reality (AR),
                                                Virtual Reality (VR), Advertising and Marketing, Animation, Film Special
                                                Effects, TV and Media, Architecture and Design, Product Development, and
                                                3D Printing.
                                            </p>
                                            <p>3D artists and designers generate revenue from creating and selling their stock 3d models to
                                                other artists on FlatPyramid's asset marketplace. FlatPyramid’s growing library of digital assets has tens of
                                                thousands of 3d models for purchase or for free.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="faqhead2">
                                        <a href="#" class="btn btn-header-link collapsed" data-toggle="collapse"
                                            data-target="#faq2" aria-expanded="true" aria-controls="faq2">What are 3D Models?
                                        </a>
                                    </div>

                                    <div id="faq2" class="collapse" aria-labelledby="faqhead2" data-parent="#faq">
                                        <div class="card-body">
                                            <p>3D models are digital assets used as building blocks for NFTs, Games, the Metaverse and many other
                                                immersive experiences in many industries including: Gaming, Metaverse, NFTs, Augmented Reality (AR),
                                                and Virtual Reality (VR), Advertising and Marketing, Animation, Film Special Effects, TV and Media,
                                                Architecture and Design, Product Development, and 3D Printing.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="faqhead3">
                                        <a href="#" class="btn btn-header-link collapsed" data-toggle="collapse"
                                            data-target="#faq3" aria-expanded="true" aria-controls="faq3">What Does
                                            FlatPyramid Do?
                                        </a>
                                    </div>

                                    <div id="faq3" class="collapse" aria-labelledby="faqhead3" data-parent="#faq">
                                        <div class="card-body">
                                            <p>Our mission is to revolutionize the way 3D Models are traded and distributed.</p>
                                            <p>We promote, sell and license 3d models (digital 3d content) created by 3D artists in the gaming, NFT, metaverse, advertising and digital media industry worldwide. We strive to provide maximum returns to intellectual property owners like 3D
                                            artists and deliver quality products to our valued customers.
                                            </p>
                                            <p>We provide customers with the assets (3D Models) so they can focus on other core areas of their production pipeline, thus cutting down their production time and costs.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="faqhead4">
                                        <a href="#" class="btn btn-header-link collapsed" data-toggle="collapse"
                                            data-target="#faq4" aria-expanded="true" aria-controls="faq4">What is the FP3D Token?
                                        </a>
                                    </div>

                                    <div id="faq4" class="collapse" aria-labelledby="faqhead4" data-parent="#faq">
                                        <div class="card-body">
                                            <p>FP3D is FlatPyramid's utility token (digital token of cryptocurrency) that will power FlatPyramid’s marketplace for 3d models and related products.</p>
                                            <p>All NFT transactions made on FlatPyramid will use FP3D. This token introduces blockchain technology into a 3d model marketplace, presenting a new system where each 3d model will be represented through an owner.
                                            <p>Initially, FP3D will be available on two separate blockchains as a standard utility token with the same tokenomics and distribution. Later in the development stage, a bridge will be developed to allow the interconversion of tokens on several blockchains. Also, later in the road map additional blockchains will be added.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="faqhead5">
                                        <a href="#" class="btn btn-header-link collapsed" data-toggle="collapse"
                                            data-target="#faq5" aria-expanded="true" aria-controls="faq5">How will I be able to
                                            Download 3d Models and Get NFTs?
                                        </a>
                                    </div>

                                    <div id="faq5" class="collapse" aria-labelledby="faqhead5" data-parent="#faq">
                                        <div class="card-body">
                                            <ol>
                                                <li>Go to <a href="https://www.flatpyramid.com/" target="_blank">(www.flatpyramid.com)</a> and browse the
                                                different listings of 3d models available. Then, <span class="clr">upon our NFT product launch</span>, you will be able to select "Buy NFT of 3D Model" and add the NFT of the 3D model to your cart.</li>
                                                    <img src= "../../assets/fp3d-assets/1-product-page.png" width="600" class="img-fluid rounded mx-auto d-block mt-4 mb-4">
                                                <li>Then, click on "Collect" to buy the NFT of the 3D Model (you get both the NFT as well as the 3d model download).</li>
                                                    <img src= "../../assets/fp3d-assets/2-collect-NFT.png" width="500" class="img-fluid rounded mx-auto d-block mt-4 mb-4">
                                                <li>On the modal "Choose Network", select your blockchain network (Ethereum or Binance Smart Chain).</li>
                                                    <img src= "../../assets/fp3d-assets/3-choose-network-eth-or-bsc.jpg" width="500" class="img-fluid rounded mx-auto d-block mt-4 mb-4">
                                                <li>Then, proceed to select and connect your wallet, choose MetaMask wallet (for Ethereum) or TrustWallet (Binance Smart Chain).</li>
                                                    <img src= "../../assets/fp3d-assets/4-choose-wallet-metamask-or-truswallet.jpg" width="500" class="img-fluid rounded mx-auto d-block mt-4 mb-4">
                                                <li>Select the cryptocurrency you want to pay with (USDC or FP3D), then click on "Approve" to send the transaction to your wallet for confirmation.</li>
                                                <img src= "../../assets/fp3d-assets/5-approve-with-usdc-or-fp3d.png" width="500" class="img-fluid rounded mx-auto d-block mt-4 mb-4">

                                                <img src= "../../assets/fp3d-assets/6-confirm-transaction-on-wallet.jpg" width="500" class="img-fluid rounded mx-auto d-block mt-4 mb-4">
                                                    
                                                <li>Once you confirm your transaction on your wallet interface, click on "Pay" to submit your purchase. Your NFT will appear under your collectibles once the transaction is complete.</li>
                                                <img src= "../../assets/fp3d-assets/5-pay-with-usdc-or-fp3d.png" width="500" class="img-fluid rounded mx-auto d-block mt-4 mb-4">
                                                    <br><br>
                                                    <img src= "../../assets/fp3d-assets/7-view-in-wallet-collectibles.jpg" width="500" class="img-fluid rounded mx-auto d-block mt-4 mb-4">
                                            </ol>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row ptb">
            <div class="col-sm-3">
                <div class="logo">
                    <img src="../../assets/fp3d-assets/ethereum-eth-logo.png" alt="ethereum" width="150" class="img-fluid opacity-0_3">
                </div>
            </div>
            <div class="col-sm-3">
                <div class="logo">
                    <img src="../../assets/fp3d-assets/binance-smart-chain-logo.png" alt="binance smart chain" width="180" class="img-fluid opacity-0_3">
                </div>
            </div>
            <div class="col-sm-3">
                <div class="logo pt-5">
                    <img src="../../assets/fp3d-assets/oculus-logo.png" alt="oculus virtual reality facebook" width="200" class="img-fluid pt-2">
                </div>
            </div>
            <div class="col-sm-3">
                <div class="logo pt-5">
                    <img src="../../assets/fp3d-assets/unity-technologies-logo.png" width="200" alt="unity technologies" class="img-fluid pt-2">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <div class="inner-logo">
                    <img src="../../../../assets/fp3d-landing-page/logo.png" alt="" class="img-fluid">
                    <p>FlatPyramid is an NFT marketplace with ten of thousands of 3d models (NFT digital assets) created and used by 3d artists and designers for Gaming, the Metaverse, Augmented Reality, Virtual Reality, Film and Special Effects, and other Interactive Media.</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="inner-nav">
                    <h5>Quick Links</h5>
                    <ul class="">
                        <li class="">
                            <a (click)="scroll(target)">Welcome</a>
                        </li>
                        <!-- <li class="">
                            <a>Why Us</a>
                        </li> -->
                        <li class="">
                            <a href="../../assets/FlatPyramidWhitePaper.pdf" target="_blank">White Paper</a>
                        </li>
                        <li class="">
                            <a (click)="scroll(features)">Features</a>
                        </li>
                        <li class="">
                            <a href="/presale#tokenomics" target="_blank">Tokenomics</a>
                        </li>
                        <li class="">
                            <a (click)="scroll(roadmap)">Roadmap</a>
                        </li>
                        <li class="">
                            <a (click)="scroll(faqs)">FAQ</a>
                        </li>
                        <!-- <li class="">
                            <a href="https://medium.com/@flatpyramid101" target="_blank">Blog</a>
                        </li> -->
                    </ul>
                </div>
            </div>
            <!-- 
            <div class="col-sm-4">
                <div class="inner-form">
                    <h6>Be The First Know <br> About FP3D News Everyday.</h6>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Enter Your Email" aria-label="Recipient's username" aria-describedby="basic-addon2">
                        <img src="../../assets/fp3d-assets/send-button.png" alt="" class="img-fluid">
                    </div>
                </div>
            </div> -->
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-8">
                <div class="inner-copy">
                    <p>&copy; FP3D 
                        {{currentYear}}
                        All Rights Reserved.</p>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="inner-copy">
                    <!-- <ul class="list-inline">
                        <li class="list-inline-item">
                            <a href="https://t.me/flatpyramid" target="_blank">
                                <img src="../../assets/fp3d-assets/telegram-icon.png" alt="" class="img-fluid">
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.reddit.com/user/flatpyramid101" target="_blank">
                                <img src="../../assets/fp3d-assets/reddit-icon.png" alt="" class="img-fluid">
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://medium.com/@flatpyramid101" target="_blank">
                                <img src="../../assets/fp3d-assets/medium-icon.png" alt="" class="img-fluid">
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://twitter.com/flatpyramidnft" target="_blank">
                                <img src="../../assets/fp3d-assets/twitter-icon.png" alt="" class="img-fluid">
                            </a>
                        </li>
                    </ul> -->
                </div>
            </div>
        </div>
    </div>
</section>
